@media (max-width: 768px) {
    .header-menu {
    display: none;
    }

    .burger-icon {
    display: block;
    height: 2px;
    width: 24px;
    padding-right: 21px;
    margin-top: -10px;
    }

    .burger-icon span {
    height: 2px;
    width: 24px;
    }

    .grid-wrapper{
        display:grid;
        grid-template-columns: 728px;
        grid-template-rows:auto;
        grid-gap:24px;
        margin-top: 54px;
        margin-left: 20px;
        }
  

    .logo {
        margin-top: 12px;
    }

    .tema-text {
        word-wrap: break-word;
        width: 728px;
    }

    .zagolovok2-ul {
        display: grid;
        grid-template-columns: 32px 696px;
      }

      .tema-text2 {
        width: 696px;
      }

      .tema-text1 {
        width: 418px;
        margin-top: 0;
      }

      .bubble {
        width: 728px;
      }

      .o680 {
        width: 680px;
        padding-left: 0px;
        margin-left: 24px;
      }

      .w572 {
        width: 696px;
      }

      .w386 {
        width: 418px;
      }

      .bubble-1 {
        width: 728px;
      }

      .otstup24-8-p {
        margin-left: 24px;
        padding-left: 0px;
        width: 680px;
      }

    .post {
        display: grid;
        grid-template-columns: 356px 356px;
        grid-template-rows: 451px;
        grid-gap: 24px;
    }

    .post-img {
        width: 356px;
    }

    .w333 {
        width: 356px;
        word-wrap: break-word;
    }

    .bubble-2 {
        width: 728px;
    }
        

      
    .footer {
        width: 768px;
        max-height: 454px;
        background: rgba(41, 99, 163, 1);
    }


    .grid-naw {
        display:grid;
        grid-template-columns:149px 136px 471px;
        grid-template-rows:184px;
        grid-gap:0px;
        position: relative;
        grid-template-rows:auto;
    }

    .menu__list1 {
        margin-left: 20px;
        padding-top: 0px;
        margin-top: 35px;
    }

    .menu__list2 {
        margin-left: 0px;
        padding-top: 0px;
        margin-top: 35px;
    }

    .menu__list3 {
        margin-left: 0px;
        padding-top: 0px;
        margin-top: 35px;
    }

    .menu__list4 {
        margin-left: 20px;
        width: 221px;
        height: 122px;
        padding-top: 0px;
        margin-top: 10px;
        padding-bottom: 27px;
    }

    .line {
        width: 728px;
        height: 1px;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 0px;
        border: 1px;
        background-image: url("../images/line.png");
    }
      
    .img-line {
        width: 728px;
    }

    .second-section{
        display: grid;
        grid-template-columns: 356px 355px;
        grid-template-rows: 481px 242px;
        grid-gap: 16px;
        padding-bottom: 59px;
    }  

    .blok1 {
        width: 356px;
        height: 481px;
    }

    .blok1{
        width: 356px;
        height: 481px;
        background: #E6F0FD;
        border-radius: 16px;
        position: relative;
        display: flex;
        justify-content: center;
      }

      .blok-img1 img{
        position: absolute;
        width: 257px;
        height: 206px;
        align-items: center;
      }

      .blok-img1{
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 100%;   
      }

    
      .button-more{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 48px;
        padding: 14px 20px;
        background-color: rgba(53, 179, 169, 1);
        color: rgb(255, 255, 255);
        font-family: 'Montserrat-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        transition: all .4s ease-in-out;
        position: absolute;
        top: 418px;
      }

    .blok2 {
        width: 356px;
        height: 481px;
        top: 0px;
    }

    .blok-img2{
        margin-top: 24px;
        margin-left: 117px;
        margin-right: 117px;
      }

      .lable1 {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 105px;
        height: 24px;
        background: rgba(243, 244, 248, 0.7);
        border-radius: 6px;
        margin-top: 16px;
        margin-left: 16px;
      }
    
      .lable2 {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 74px;
        height: 24px;
        background: rgba(243, 244, 248, 0.7);
        border-radius: 6px; 
        margin-top: 48px;
        margin-left: 16px;
      }

      .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 250px;
        height: 1px;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px #DEDEDE;
        transform: matrix(1, 0, 0, -1, 0, 0);
        margin-left: 52.5px;
        margin-top: 108px;
      }

      .button-more1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 48px;
        padding: 14px 20px;
        background-color: rgba(53, 179, 169, 1);
        color: rgb(255, 255, 255);
        font-family: 'Montserrat-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        transition: all .4s ease-in-out;
        position: absolute;
        top: 397px;
        margin-left: 52.5px;
      }

    .blok3 {
        width: 356px;
        height: 242px;
        top: 0px;
        background-image: url(../images/zabota1.png);
        background-repeat: no-repeat;
        margin-top: 6px;
    }

    .blok3 img {
        display: none;
    }

    .blok4 {
        width: 356px;
        height: 248px;
        top: 0px;
        background-image: url(../images/gift2-1.png);
        background-repeat: no-repeat;
        background-position-x: 176px;
        background-position-y: bottom;
    }

    .button-buy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 108px;
        height: 48px;
        padding: 14px 20px;
        background-color: rgba(53, 179, 169, 1);
        color: rgb(255, 255, 255);
        font-family: 'Montserrat-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        transition: all .4s ease-in-out;
        position: absolute;
        margin-top: 16px;
      }
      
      .gift1 {
        display: none;
      }
      .gift2 {
        display: none;
      }

      .gift2 img {
        display: none;
      }

}