  
  * {
    list-style-type: none; 
    padding: 0;
    font-family: "Roboto-Regular";
    text-decoration: none;
  }
  
  .body {
    margin-top: -8px;
    margin-bottom: -8px;
  }
  
  /* Это header*/
  
  .header {
    box-shadow: inset 0px -2px 0px #EFF2F2;
  }
  
  .container {
    height: 76px;
  }
  
  .header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: auto;
  }
  
  .header__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__body > .logo{
    margin-right: 51px;
  }
  
  .menu__list{
    display: flex;
    align-items: center;
  }
  
  .menu__item:not(:last-child){
    margin-right: 30px;
  }
  
  .menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    letter-spacing: 0.25px;
    transition: all .4s ease-in-out;
  }
  
  .menu__link:hover {
    color: #ff9950;
  }
  
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 230px;
    min-height: 48px;
    padding: 14px 20px;
    background-color: #e3f5f5;
    color: #03b2a5;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: all .4s ease-in-out;
  }
  
  .button:hover {
    color: #50dcff;
  }
  
  .burger-icon {
    display: none;
    margin-top: 5px;
    z-index: 2;
  }
  
  .burger-icon span {
    display: block;
    height: 7px;
    width: 45px;
    background-color: black;
  }
  
  .burger-icon span:nth-child(2) {
    margin: 6px 0;
  }


/*Это main*/

  .container-main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .main-links{
    padding-top: 16px;
    padding-left: 6px;
    gap: 8px;
  }
  
  .main-links > a:link{
    color:rgba(51, 51, 51, 0.7);
  }

  .article {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: auto; 
  }  

  .grid-wrapper{
    display:grid;
    grid-template-columns: 690px 282px;
    grid-template-rows:auto;
    grid-column-gap:228px;
    grid-row-gap: 24px;
    margin-top: 54px;
  }

  .row-row {
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 72px;
    border: 1px solid #DEDEDE;
  }

  .end {
    width: 1440px;
    height: 438px;
    display: grid;
    grid-template-columns: 1440px;
    grid-template-rows: 356px 82px ;
    margin-left: auto;
    margin-right: auto;

  }


  .end-grid {
    display: grid;
    grid-template-columns: 468px 303px 520px 149px;
    grid-template-rows:244px;
  }

  .ml120 {
    margin-left: 120px;
    width: 348px;
  }

  .end-img1 {
   width: 520px;
   height: 330px;
  }

  .end-img2 {
   width: 73px;
   margin-left: 76px;
  }

  .end-img-row{
    width: 1440px;
    height: 82px;
  }

  .button-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 60px;
    padding: 14px 20px;
    background-color: #e3f5f5;
    color: #03b2a5;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    margin-top: 32px;
  }

  .new-grid {
    display: grid;
    grid-template-columns: 32px 556px;
    grid-template-rows: 48px 32px 28px 28px 28px 32px 38px;
}

  .elleps {
    background: #03B2A5;
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }

  .elleps-c {
    display: flex;
    justify-content: center;
    align-items: center;
  }


/*Первая секция*/

.avtor {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #494949;
  margin-top: 16px;
}

.otstup-lp8 {
  margin-left: 8px;
  margin-right: 8px;
}

.skryt {
  display: none;
}

.sec1-img1 {
  width: 690px;
  height: 331px;
  margin-top: 24px;
}

.soderzanie{
  margin-top: 24px;
  width: 588px;
}

.zagolovok1{
  margin-top: 24px;
  width: 690px;
}

.citata {
  margin-top: 40px;
  width: 690px;
  height: 162px;
  background: #F3F7FE;
  border-radius: 16px;
  position: relative;
  margin-bottom: 24px;
}

.citata-img {
  margin-top: 24px;
  margin-left: 24px;
  position: absolute;
}

.of-img {
  width: 690px;
  height: 331px;
}

.zagolovok2-ul {
  display: grid;
  grid-template-columns: 32px 658px
}

.zagolovok2-ul > li::before {
  content: "•";
  color: #03B2A5;
  padding-right: 10px;
  font-size: 14px;
  height:8px;
  width: 8px;
}
.zagolovok2-ul-2 > li::before {
  content: "•";
  color: #03B2A5;
  padding-right: 10px;
  font-size: 14px;
  height:8px;
  width: 8px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 281px 386px;
  grid-gap: 24px;
}

.hands-img {
  width: 281px;
  height: 174px;
}

.vstavka {
  width: 691px;
  height: 168px;
  position: relative;
  justify-content: center;
  background-image: url(../images/Vector1.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 8px;
}

.vstavka-img {
  position: absolute;
  margin-left: 225.5px;
  height: 168px;
  width: 240px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 282px 306px;
  grid-gap: 24px;
}

.grid-1-img2 {
  width: 282px;
  height: 380px;
}

.bubble {
  width: 690px;
  height: 224px;
  background: rgba(254, 250, 236, 1);
  border-radius: 16px;
  margin-bottom: 24px;
}

.zagolovok2-ul-2 {
  display: grid;
  grid-template-columns: 32px 572px
}

.bubble-1 {
  width: 690px;
  height: 224px;
  background: rgba(255, 243, 235, 1);
  border-radius: 16px;
  margin-bottom: 24px;
}

.post {
  display: grid;
  grid-template-columns: 333px 333px;
  grid-template-rows: 451px;
  grid-gap: 24px;
}



.bubble-2 {
  width: 690px;
  height: 224px;
  background: rgba(3, 178, 165, 0.1);
  border-radius: 16px;
  margin-bottom: 24px;
}

.spann {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 691px;
  height: 20px;
}


/*Вторая секция*/

/*Блок1*/

  .blok1{
    width: 282px;
    height: 512px;
    background: #E6F0FD;
    border-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .blok-img1{
    position: absolute;
    max-width: 257px;
    max-height: 206px;
    top: 24px;
  }

  .button-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 48px;
    padding: 14px 20px;
    background-color: rgba(53, 179, 169, 1);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 440px;
  }

/*Блок2*/

  .blok2{
    width: 282px;
    height: 481px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 24px;

  }

  .blok-img2{
    margin-top: 24px;
    margin-left: 81px;
    margin-right: 81px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 250px;
    height: 1px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #DEDEDE;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-left: 16px;
    margin-top: 92px;
    margin-bottom: 0;
  }
  
  .otstup{
    margin-top: 16px;
  }


  .button-more1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 48px;
    padding: 14px 20px;
    background-color: rgba(53, 179, 169, 1);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 397px;
    margin-left: 16px;
    margin-top: 20px;
  }

  .lable1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 105px;
    height: 24px;
    background: rgba(243, 244, 248, 0.7);
    border-radius: 6px;
    margin-top: 16px;
    margin-left: 16px;
  }

  .lable2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 74px;
    height: 24px;
    background: rgba(243, 244, 248, 0.7);
    border-radius: 6px; 
    margin-top: 48px;
    margin-left: 16px;
  }

/*Блок3*/

.blok3 {
  width: 282px;
  height: 292px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 52px;
}

/*Блок4*/

.blok4 {
  width: 282px;
  height: 304px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 30px 50px #EFF5FB;
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 91px;
  overflow:hidden;
}

.button-buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 48px;
  padding: 14px 20px;
  background-color: rgba(53, 179, 169, 1);
  color: rgb(255, 255, 255);
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: all .4s ease-in-out;
  position: absolute;
  margin-top: 16px;
}

.gift1 {
  position: absolute;
  margin-top: 219px;
  margin-left: 165px;
}
.gift2 {
  position: absolute;
  margin-top: 232px;
  margin-left: 194px;
}

  /*Это медиа*/


    
   












    @media (max-width: 320px) {
      .section-container {
        display: block;
        margin-bottom: 50px;
        width: 100%;
        padding: 100px;
      }
      .section-container img {
        width: 194px;
        text-align: center;
        padding-left: 0;
      }
    }
